#form-metadata {padding-bottom:2em;}
#form-metadata .form-control {max-width: 450px;}
#main-controls .form-control{max-width: 125px;}
#main-controls {padding-bottom: 2em;}
#main-controls > p:first-of-type {
    font-size: 26px;
    font-style: italic;
    color: #777;
    padding-bottom: 1em;
    margin-top: 1em;
}

fieldset > fieldset {
    padding-bottom: 2em;
}

@media (min-width: 768px) {
    fieldset > fieldset > legend {
        text-indent: 1em;
    }
}

.errorlist {
    list-style-type: none;
}

#bottom-bar {
    min-height: 0;
}

#bottom-bar .navbar-text {
    margin: 13px 0;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

#running-total:after {content: "\0025";}