<div id="wrapper-{{ field.auto_id }}" class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="col-sm-5 col-md-4 col-lg-3 control-label {{ classes.label }}{% if field.field.required %}{{ form.required_css_class }}{% endif %}" for="{{ field.auto_id }}">{{ field.label|capfirst }}</label>
    <div class="col-sm-7 col-md-8 col-lg-9">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        {{ field }}
      </div>
    </div>
    {% for error in field.errors %}
      <div class="col-sm-7 col-sm-offset-5 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
        <span class="help-block">{{ error }}</span>
      </div>
    {% endfor %}
    
    {% if field.help_text %}
    <div class="col-sm-7 col-sm-offset-5 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">
      <p class="help-block">
        {{ field.help_text|safe }}
      </p>
    </div>
    {% endif %}
</div>