{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block head_title %}FOA | {% block form_head_title %}{% endblock %} Portfolio{% endblock head_title %}

{% block body_class %}default{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'portfolios/css/portfolio_wizard_form.css' %}">
{% endblock styles %}

{% block scripts %}
  {{ block.super }}
  {# <script src="{% static 'portfolios/js/bottom-bar.js' %}"></script> #}
  <script>
    $('input[type="number"]').wrap('<div class="input-group"></div>').after('<div class="input-group-addon"><span data-content="%"></span></div>');
  </script>
  <script>
    var $firstInput = $('input[type="number"]').first();
    if ($firstInput.val() == '') {
      $firstInput.focus();
    };
  </script>
  <script>
    $(document).ready(function() {    
      // disable mousewheel on a input number field when in focus
      // (to prevent Cromium browsers change the value when scrolling)
      $('form').on('focus', 'input[type=number]', function(event) {
        $(this).on('mousewheel.disableScroll', function(event) {
          event.preventDefault();
        });
      });
      $('form').on('blur', 'input[type=number]', function(event) {
        $(this).off('mousewheel.disableScroll');
      });
    });
  </script>
{% endblock scripts %}

{% block body_base %}
  <div class="container">

    <div id="bottom-bar" class="navbar navbar-fixed-bottom navbar-default{% if total %}{% if total < 100 %} under_100{% elif total > 100 %} over_100{% elif total == 100 %} is_100{% endif %}{% endif %} visible-xs">
      <div class="container">
        <p class="navbar-text">
          <span class="wrapper">{% trans "Saved Total" %}: <span class="running-total">{% if total %}{{ total|floatformat:"-2" }}{% else %}0{% endif %}</span>
          &emsp;{% trans "Remaining" %}: <span class="running-total">{% if allocations_remaining %}{{ allocations_remaining|floatformat:"-2" }}{% else %}0{% endif %}</span></span>
        </p>
      </div>
    </div>
    
    <form action="" method="post">{% csrf_token %}

      <div class="page-header">
        <p class="pull-right"></p>
        <h2 class="h1">{% trans "Create a Portfolio" %}</h2>
      </div>
      {{ wizard.management_form }}
      <div class="row">
        <div id="form-content" class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
          <fieldset id="main-controls" class="row">
            
            {% if wizard.form.forms %}
              {{ wizard.form.management_form }}

              {% for form in wizard.form.forms %}
                {{ form|bootstrap }}
              {% endfor %}
            {% endif %}
            <div class="col-md-9 col-md-offset-1">
              <p class="pull-right"><i>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</i></p>
              <h1 class="h2 page-header no-top-margin">
                {% if wizard.steps.current != 'review' %}<small>Allocation Percentages:</small><span class="text-normal">&ensp;{% if wizard.steps.current == 'real_estate' %}Real Estate {% else %}{{ wizard.steps.current|capfirst }}{% endif %}{% else %}<span class="text-normal">{{ wizard.steps.current|capfirst }}</span>{% endif %}</span>
              </h1>
            </div>
              
            {% if wizard.steps.current == 'equities' %}
              <div class="col-sm-6 col-md-4 col-md-offset-1">
                {% for field in wizard.form %}
                  {% if forloop.counter <= 5 %}
                    {{ field|bootstrap }}
                  {% endif %}
                {% endfor %}
              </div>

              <div class="col-sm-6 col-md-4 col-md-offset-1">
                {% for field in wizard.form %}
                  {% if forloop.counter >= 6 %}
                    {{ field|bootstrap }}
                  {% endif %}
                {% endfor %}
              </div>

            {% elif wizard.steps.current == 'bonds' %}
              <div class="col-sm-6 col-md-4 col-md-offset-1">
                {% for field in wizard.form %}
                  {% if forloop.counter <= 4 %}
                    {{ field|bootstrap }}
                  {% endif %}
                {% endfor %}
              </div>

              <div class="col-sm-6 col-md-4 col-md-offset-1">
                {% for field in wizard.form %}
                  {% if forloop.counter >= 5 %}
                    {{ field|bootstrap }}
                  {% endif %}
                {% endfor %}
              </div>
              
            {% elif wizard.steps.current == 'other' %}
              <div class="col-sm-6 col-md-4 col-md-offset-1">
                {% for field in wizard.form %}
                  {% if forloop.counter <= 4 %}
                    {{ field|bootstrap }}
                  {% endif %}
                {% endfor %}
              </div>

              <div class="col-sm-6 col-md-4 col-md-offset-1">
                {% for field in wizard.form %}
                  {% if forloop.counter >= 5 %}
                    {{ field|bootstrap }}
                  {% endif %}
                {% endfor %}
              </div>

            {% elif wizard.steps.current == 'review' %}
              
              <div class="col-sm-9 col-sm-offset-1">
                {{ wizard.form|bootstrap }}
              </div>

              <div class="col-sm-9 col-sm-offset-1">
                <div class="alert alert-info">
                  <h2 class="no-top-margin">You&rsquo;ve reached the end!</h2>
                  <p>When you&rsquo;re ready to submit your form, click Finish. You will then be redirected to your portfolio page.</p>
                </div>
                
              </div>
                
            
            {% else %}
              <div class="col-md-4 col-md-offset-1">
                {{ wizard.form|bootstrap }}
              </div>
            {% endif %}


          </fieldset>


          <fieldset id="buttons" class="row">
            <div class="col-md-11 col-md-offset-1">
              <hr>
              
              <div class="form-group">
                <div class="btn-toolbar" role="toolbar">
                    {% if wizard.steps.prev %}
                      {% if wizard.steps.current != wizard.steps.first %}
                        <div class="btn-group" role="group">
                          <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}"><i class="fa fa-angle-double-left"></i> {% trans "First" %}</button>
                        </div>{# /.btn-group #}
                      {% endif %}
                    {% endif %}

                  <div class="btn-group" role="group">
                    {% if wizard.steps.prev %}
                      <button class="btn btn-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"><i class="fa fa-angle-left"></i>&ensp;{% trans "Previous" %}</button>
                    {% endif %}

                    {% if wizard.steps.current != wizard.steps.last %}
                      <button type="submit" class="btn btn-success">
                        {% trans "Save &amp; Continue" %}&ensp;<i class="fa fa-angle-right"></i>
                      </button>
                    {% else %}
                      <button type="submit" class="btn btn-success">
                        <i class="fa fa-check"></i> {% trans "Finish" %}
                      </button>
                    {% endif %}

                  </div>{# /.btn-group #}

                </div>{# /.btn-toolbar #}
              </div>{# /.form-group #}
            </div>{# /.col- #}
          </fieldset>         
        </div>{# /#form-content #}

        <div id="form-sidebar" class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
          <div class="list-group">
            {% for step in wizard.steps.all %}
              <button class="list-group-item{% if step == wizard.steps.current %} active{% elif step not in wizard_data and not all_steps_visited %} no_data{% endif %}"{% if not step == wizard.steps.current and step in wizard_data.keys or all_steps_visited %} type="submit" name="wizard_goto_step" value="{{ step }}"{% else %} type="button"{% endif %}{% if step not in wizard_data and not all_steps_visited %} disabled{% endif %}>
                  {% if step == 'real_estate' %}
                    {% if real_estate %}
                      <span class="badge">{{ real_estate }}%</span>
                    {% endif %}
                    Real Estate
                  {% else %}
                    {% if step == 'equities' and equities %}
                      <span class="badge">{{ equities }}%</span>
                    {% elif step == 'bonds' and bonds %}
                      <span class="badge">{{ bonds }}%</span>
                    {% elif step == 'commodities' and commodities %}
                      <span class="badge">{{ commodities }}%</span>
                    {% elif step == 'venture' and venture %}
                      <span class="badge">{{ venture }}%</span>
                    {% elif step == 'other' and other %}
                      <span class="badge">{{ other }}%</span>
                    {% endif %}

                    {{ step|capfirst }}
                  {% endif %}
              </button>
            {% endfor %}
          </div>{# /.list-group #}

          <ul class="list-group">
            <li class="list-group-item{% if total %}{% if total < 100 %} list-group-item-warning{% elif total > 100 %} list-group-item-danger{% elif total == 100 %} list-group-item-success{% endif %}{% endif %}">
              <span class="badge{% if total %}{% if total < 100 %} badge-warning{% elif total > 100 %} badge-danger{% elif total == 100 %} badge-success{% endif %}{% endif %}">{% if total %}{{ total|floatformat:"-2" }}{% else %}0{% endif %}%</span>
              Saved Total
            </li>
            <li class="list-group-item{% if total %}{% if total < 100 %} list-group-item-warning{% elif total > 100 %} list-group-item-danger{% elif total == 100 %} list-group-item-success{% endif %}{% endif %}">
              <span class="badge{% if total %}{% if total < 100 %} badge-warning{% elif total > 100 %} badge-danger{% elif total == 100 %} badge-success{% endif %}{% endif %}">{% if allocations_remaining %}{{ allocations_remaining|floatformat:"-2" }}{% else %}0{% endif %}%</span>
              Allocations Remaining
            </li>
          </ul>

        </div>
      </div>

    </form>
  </div>

{% endblock body_base %}