{% extends "site_base.html" %}
{% load i18n staticfiles bootstrap %}

{% block head_title %}FOA | {% trans "Portfolio" %}{% endblock %}

{% block body_class %}default{% endblock %}

{% block styles %}

  {{ block.super }}
  <link rel="stylesheet" href="{% static 'portfolios/css/portfolio_detail.css' %}">
{% endblock styles %}

{% block extra_head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'portfolios/js/Chart.js' %}"></script> 

    <script type="text/javascript">

    </script>

<!-- Doughnut chart graph -->
     <script>

        $(document).ready(function(){
            Chart.defaults.global.responsive = true;
            var ctx = $("#mycanvas").get(0).getContext("2d");
            ctx.canvas.width = 340;
            ctx.canvas.height = 340;
            var data = [
                {
                    value: {{ your_equities_total }},
                    color: "#69BAB6",
                    highlight: "#BAF2E8",
                    label: "Equities"
                },
                {   value: {{ your_real_estate_total }},
                    color: "#579378",
                    highlight: "#BAF2E8",
                    label: "Real Estate"

                },
                {   value: {{ your_bonds_total }},
                    color: "#BADEB3",
                    highlight: "#BAF2E8",
                    label: "Bonds"

                },
                {   value: {{ your_commodities_total }},
                    color: "#8BBF9F",
                    highlight: "#BAF2E8",
                    label: "Commodities"

                },
                {   value: {{ portfolio.angel_investments }},
                    color: "#67BADB",
                    highlight: "#BAF2E8",
                    label: "Angel"

                },
                {   value: {{ portfolio.global_venture_cap }},
                    color: "#99D5E8",
                    highlight: "#BAF2E8",
                    label: "Venture"

                },
                {   value: {{ portfolio.cash }},
                    color: "#5793A5",
                    highlight: "#BAF2E8",
                    label: "Cash"

                },
                {   value: {{ your_other_total }},
                    color: "#BAD2FC",
                    highlight: "#BAF2E8",
                    label: "Other"

                },


            ];

            
            var piechart = new Chart(ctx).Doughnut(data);
            
        });
    </script>

<!-- Column chart graph -->
    <script type="text/javascript">
      // Get context with jQuery - using jQuery's .get() method.
      $(document).ready(function(){
        Chart.defaults.global.responsive = true;
        var ctx = $("#myChart").get(0).getContext("2d");

        ctx.canvas.width = 340;
        ctx.canvas.height = 340;

        var options = {
         



           
        }

        var data = {
            

            labels: ["Equities", "Real Estate", "Bonds", "Commodities", "Angel", "Venture", "Cash", "Other"],
            datasets: [
                {
                    label: "My Portfolio",
                    fillColor: "#BADEB3",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "#579378",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: [{{your_equities_total}}, {{your_real_estate_total}}, {{your_bonds_total}}, {{your_commodities_total}},  {{portfolio.angel_investments}}.toFixed(2), {{portfolio.global_venture_cap}}, {{portfolio.cash}}, {{your_other_total}}]
                },
                {
                    label: "FoS Index Average",
                    fillColor: "#67BADB",
                    strokeColor: "rgba(151,187,205,0.8)",
                    highlightFill: "#5793A5",
                    highlightStroke: "rgba(151,187,205,1)",
                    data: [ {{equities_average}}.toFixed(2), {{real_estate_average}}.toFixed(2), {{bonds_average}}.toFixed(2), {{commodities_average}}.toFixed(2), {{angel_investments_avg.angel_investments__avg}}.toFixed(2), {{global_venture_cap_avg.global_venture_cap__avg}}.toFixed(2), {{cash_avg.cash__avg}}.toFixed(2), {{other_average}}.toFixed(2)]
                }
            ]

        };

        // This will get the first returned node in the jQuery collection.
        var myNewChart = new Chart(ctx).Bar(data, options);
         //then you just need to generate the legend


        myNewChart;
        

        });

        </script>
  
{% endblock extra_head %}


{% block scripts %}
  {{ block.super }}
  <script>
    $(document).ready(function() {
      
      $('tr[data-toggle="collapse"]').click(function() {
        $(this).toggleClass("collapsed")
      }) 

      $('[rel="tooltip"]').tooltip()

    });
  </script>
{% endblock scripts %}

{% block body %}


  <div class="page-header no-top-margin">
    {% if portfolio %}
      <div class="btn-toolbar pull-right">
        <div class="btn-group">
          <a href="{% if dollar_amounts_used %}{% url 'portfolios:update_amounts' %}{% else %}{% url 'portfolios:update_percentages' %}{% endif %}" class="btn btn-primary"><i class="fa fa-edit"></i>&ensp;{% trans "Edit portfolio" %}</a>
        </div>
        <div class="btn-group">
          <a href="{% url 'portfolios:delete' %}" class="btn btn-danger"><i class="fa fa-trash"></i>&ensp;{% trans "Delete portfolio" %}</a>
        </div>
      </div>
    {% endif %}
    <h1 class="no-top-margin">
      {% if portfolio %}

        <small>{% trans "Portfolio" %}:</small> {{ portfolio.user.get_username }}
      {% else %}
        {% trans "Your Portfolio" %}
      {% endif %}
    </h1>

  </div>

  {% if not portfolio %}
    <div class="alert alert-warning" role="alert">
      <p class="lead">{% trans "You have not yet created a portfolio." %}</p>
      <hr>
      <p><a href="{% url 'portfolios:create' %}" class="btn btn-lg btn-warning">{% trans "Create one now" %}</a></p>
    </div>
  {% else %}


    <div class="row">

      <div class="col-md-5">
        <h3 class="text-center">Compared to index/baseline</h3> 
        <canvas class="img-responsive" id="myChart"></canvas>
        <div id="js-legend-column" class="chart-legend"></div>
       
          <ul class="list-group center-block">
            <li class="list-group-item"><span class="column-legend-yours"></span><span class="column-legend-text">Your Portfolio</span></li>
            <li class="list-group-item"><span class="column-legend-index"></span><span class="column-legend-text">Index/Baseline</span></li>
          </ul>
        
      </div>
 

      
<style type="text/css">
.column-legend {   
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);

}
.column-legend-index {   
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    background-color: #67BADB;
}
.column-legend-yours {   
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    background-color: #BADEB3;
}
.doughnut-legend-text{
  font-size: 12px;

}
.column-legend-text {
  font-size: 13px;
}
div.centered 
{
    text-align: center;
}

div.centered table 
{
    margin: 0 auto; 
    text-align: left;
}

</style>
  


      <div class="col-md-4 col-md-offset-1">

        <h3 class="text-center">Your Investment Distribution</h3> 
        <canvas id="mycanvas" class="center-block"></canvas>
        
      </div>
      <div class="col-md-2">
        <ul class="list-group"> 
          <li class="list-group-item"><h4>Asset Class</h4></li>
          <li class="list-group-item"><span class="column-legend" style="background-color: #69BAB6;"></span><span class="doughnut-legend-text">Equities</span></li>
          <li class="list-group-item"><span class="column-legend" style="background-color: #579378;"></span><span class="doughnut-legend-text">Real Estate</span></li>
          <li class="list-group-item"><span class="column-legend" style="background-color: #BADEB3;"></span><span class="doughnut-legend-text">Bonds</span></li>
          <li class="list-group-item"><span class="column-legend" style="background-color: #8BBF9F;"></span><span class="doughnut-legend-text">Commodities</span></li>
          <li class="list-group-item"><span class="column-legend" style="background-color: #67BADB;"></span><span class="doughnut-legend-text">Angel</span></li>
          <li class="list-group-item"><span class="column-legend" style="background-color: #99D5E8;"></span><span class="doughnut-legend-text">Venture</span></li>
          <li class="list-group-item"><span class="column-legend" style="background-color: #5793A5;"></span><span class="doughnut-legend-text">Cash</span></li>
          <li class="list-group-item"><span class="column-legend" style="background-color: #BADEFC;"></span><span class="doughnut-legend-text">Other</span></li>
        </ul>
      </div>

    </div>
  <!-- End Row -->






<div class="row">

        <div class="table-responsive" style="padding-bottom: 3rem;">
          <table class="table table-hover">
            <caption>{% blocktrans %}Your Portfolio <strong>(click a row to show/hide details)</strong>{% endblocktrans %}</caption>

            <thead>
              <tr>
                <th rowspan="2">{% trans "Asset Class" %}</th>
                <th colspan="2" class="text-center">{% trans "% of Portfolio" %}</th>
              </tr>

              <tr>
                <th>{% trans "Your Portfolio" %}</th>
                <th>{% trans "Index/Baseline" %}</th>
              </tr>

            </thead>

  
            <tbody>
              {% for category_label, value, average in tabular_data %}
      
                {% if forloop.counter == 1 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".equities" title="click to expand/collapse" rel="tooltip" data-placement="top" aria-expanded="false">
                    <th>{% trans "Equities" %}</th>
                    <td>{{ your_equities_total|floatformat:"-2" }}</td>
                    <td>{{ equities_average|floatformat:"-2" }}</td>
                  </tr>
                {% elif forloop.counter == 11 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".real-estate" title="click to expand/collapse" rel="tooltip" data-placement="top" aria-expanded="false">
                    <th>{% trans "Real Estate" %}</th>
                    <td>{{ your_real_estate_total|floatformat:"-2" }}</td>
                    <td>{{ real_estate_average|floatformat:"-2" }}</td>
                  </tr>
                {% elif forloop.counter == 15 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".bonds" title="click to expand/collapse" rel="tooltip" data-placement="top" aria-expanded="false">
                    <th>{% trans "Bonds" %}</th>
                    <td>{{ your_bonds_total|floatformat:"-2" }}</td>
                    <td>{{ bonds_average|floatformat:"-2" }}</td>
                  </tr>
                {% elif forloop.counter == 22 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".commodities" title="click to expand/collapse" rel="tooltip" data-placement="top" aria-expanded="false">
                    <th>{% trans "Commodities" %}</th>
                    <td>{{ your_commodities_total|floatformat:"-2" }}</td>
                    <td>{{ commodities_average|floatformat:"-2" }}</td>
                  </tr>
                {% elif forloop.counter == 24 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".venture" title="click to expand/collapse" rel="tooltip" data-placement="top" aria-expanded="false">
                    <th>{% trans "Venture Investments" %}</th>
                    <td>{{ your_venture_total|floatformat:"-2" }}</td>
                    <td>{{ venture_average|floatformat:"-2" }}</td>
                  </tr>
                {% elif forloop.counter == 26 %}
                  <tr class="active collapsed" data-toggle="collapse" data-target=".other" title="click to expand/collapse" rel="tooltip" data-placement="top" aria-expanded="false">
                    <th>{% trans "Other" %}</th>
                    <td>{{ your_other_total|floatformat:"-2" }}</td>
                    <td>{{ other_average|floatformat:"-2" }}</td>
                  </tr>
                {% endif %}

                {% cycle 'equities' 'equities' 'equities' 'equities' 'equities' 'equities' 'equities' 'equities' 'equities' 'equities' 'real-estate' 'real-estate' 'real-estate' 'real-estate' 'bonds' 'bonds' 'bonds' 'bonds' 'bonds' 'bonds' 'bonds' 'commodities' 'commodities' 'venture' 'venture' 'other' 'other' 'other' 'other' 'other' 'other' 'other' as data_target silent %}


                <tr class="collapse {{data_target}} ">
                  <th>{{ category_label|capfirst }}</th>
                  <td>{{ value|floatformat:"-2" }}</td>
                  <td>{{ average|floatformat:"-2" }}</td>
                </tr>

              
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    

  {% endif %}

  <!-- Begin new table -->



{% endblock body %}