{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block body %}
<div class="col-sm-6">
    <h1>This site is invite only!</h1>
    <p>{% blocktrans %}If you have signup code you can enter it below.{% endblocktrans %}</p>
    <form method="get" action="">
    	<div class="form-group">
    		<label for="signup-code" class="control-label sr-only">Your signup code</label>
    		<div class="col-sm-6">
	    		<input type="text" id="signup-code" name="code" placeholder="Your signup code here..." class="form-control">
    		</div>
    		<input type="submit" class="btn btn-primary">
    	</div>
    </form>
    <p>If you don't have a code, request one<a href="{% url 'invitation:request_an_invite' %}"> here.</a></p>
</div>    
{% endblock %}
