{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <form id="signup_form" method="post" action="{% url 'account_signup' %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <h1 class="h4 page-header weight-normal no-top-margin">{% trans "Account Registration" %}</h1>
                <fieldset>
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="btn btn-success">{% trans "Register" %}</button>
                </fieldset>
            </form>
            <hr>
            <p class="login-signup">
                <small>
                    {% trans "Already have an account?" %}&emsp;<b><a class="textual-link" href="{% urlnext 'account_login' %}">{% trans "Sign in" %}</a></b>
                </small>
            </p>
        </div>
        <div class="col-md-4">
            {% include "account/_signup_sidebar.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_username').focus();
        });
    </script>
{% endblock %}
