.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #55595c;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0.25rem;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #5cb85c !important;
}

.has-success .form-control {
  border-color: #5cb85c !important;
}

.has-success .input-group-addon {
  color: #5cb85c !important;
  background-color: #eaf6ea;
  border-color: #5cb85c !important;
}

.has-success .form-control-feedback {
  color: #5cb85c !important;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #f0ad4e !important;
}

.has-warning .form-control {
  border-color: #f0ad4e !important;
}

.has-warning .input-group-addon {
  color: #f0ad4e !important;
  background-color: white;
  border-color: #f0ad4e !important;
}

.has-warning .form-control-feedback {
  color: #f0ad4e !important;
}


.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #d9534f !important;
}

.has-error .form-control {
  border-color: #d9534f !important;
}

.has-error .input-group-addon {
  color: #d9534f !important;
  background-color: #fdf7f7;
  border-color: #d9534f !important;
}

.has-error .form-control-feedback {
  color: #d9534f !important;
}