/* source-serif-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'),
       url('../fonts/source-serif-pro-v4-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/source-serif-pro-v4-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-600 - latin-ext_latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'),
       url('../fonts/source-serif-pro-v4-latin-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/source-serif-pro-v4-latin-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-serif-pro-700 - latin-ext_latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'),
       url('../fonts/source-serif-pro-v4-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/source-serif-pro-v4-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}