{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Not Found" %}{% endblock %}

{% block body %}
    <header class="jumbotron subhead" id="overview">
        <h1>{% trans "Get in contact with us" %}</h1>
        <h2>Please send all questions and comments to:</h2>
        <h3><strong>info@familyofficestatistics.com</strong></h3>
    </header>
{% endblock %}
