{% extends "site_base.html" %}

{% load i18n staticfiles %}

{% block head_title %}Family Office Statistics{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
  <section id="intro-banner" class="jumbotron" style="background-image: url({% static 'images/homepage/bg_woman_yacht.jpg' %})">
    <div class="container">
      {% include "_messages.html" %}
      <div class="row">
        <div class="col-md-8 col-lg-9 mobile-centered">
          <h1 class="no-top-margin">{% trans "See How Your Portfolio Compares" %}</h1>
          <p>
            {% trans "Be confident in your financial decisions by comparing your portfolio allocations to those of other ultra high&ndash;net-worth families." %}
          </p>
          
        </div>
      </div>
      <div class="row">
        <div class="{% if user.is_authenticated %}col-sm-6 col-md-5 col-lg-4{% else %}col-sm-12{% endif %}">
          {% if user.is_authenticated %}

            {% if user_portfolio %}
              <a href="{% url 'portfolios:detail' %}" class="btn btn-lg btn-primary btn-block">
                {% trans "View your portfolio" %}
              </a>
            {% else %}
              <a href="{% url 'portfolios:create' %}" class="btn btn-lg btn-primary btn-block">
                {% trans "Create your portfolio now" %}
              </a>
            {% endif %}

          {% else %}
            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-primary">
              {% trans "Register an account" %}
            </a>&emsp;or&emsp;
            <a href="{% url 'account_login' %}" class="btn btn-lg btn-default">
              {% trans "Sign in" %}
            </a>
          {% endif %}

        </div>{# /.col- #}
      </div>{# /.row #}
    </div>{# /.container #}
  </section>
  
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="h1">An Invitation-Only Resource for Sophisticated Investors</h2>
          <p class="lead">
            {% trans "Our collaborative, yet fully-private online resource provides a qualitative and quantitative data solution for families with highly active single-family offices to compare their portfolio allocations to those of other private families." %}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-inverse">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3 class="text-center">{% trans "Investment Pattern Analysis" %}</h3>
          <img src="{% static 'images/homepage/icon_pattern.svg' %}" alt="Investment Pattern Analysis" class="feature-icon img-responsive center-block">
          <p>
            {% trans "With data from many families, we are able to detect lucrative patterns in investment choices and portfolio allocation, giving you insight into better diversification." %}
          </p>
        </div>
        <div class="col-sm-4">
          <h3 class="text-center">{% trans "Real-Time Visuals" %}</h3><br class="visible-sm">
          <img src="{% static 'images/homepage/icon_predictive.svg' %}" alt="Investment Pattern Analysis" class="feature-icon img-responsive center-block">
          <p>
             {% trans "We offer a rich, engaging visual experience that allows you to easily understand and compare your portfolio data in real time to different datasets from peer families." %}
          </p>
        </div>
        <div class="col-sm-4">
          <h3 class="text-center">{% trans "Predictive Technology" %}</h3>
          <img src="{% static 'images/homepage/icon_visuals.svg' %}" alt="Investment Pattern Analysis" class="feature-icon img-responsive center-block">
          <p>
            {% trans "By interpreting the answers to common investing questions, we are able to provide predictive technology that will allow your family to make better informed decisions." %}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="h1 text-center">How Does it Work?</h2>
          <p class="lead">
            {% trans "Once you have accepted an exclusive invitation to the FOS network, you will be asked a series of questions about the current allocation of your portfolio investments. Your data will be fully anonymized to protect your family's identity. This member-provided data will be combined with propritary and publicly-available market data to provide you real-time feedback on how your portfolio compares to those of your peers." %}
          </p>
        </div>
      </div>
    </div>
  </section>

  {% if not user.is_authenticated %}
  <section class="bg-gray-lighter">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="h1 text-center">{% trans "Learn More about the FOS Network" %}</h2>
          <p class="lead">{% trans "We are highly selective in our membership. Members must meet certain criteria before an invitation is extended. If you are interested in inquiring about membership, please contact us below." %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 col-lg-4">
          <a href="{% url 'invitation:request_an_invite' %}" class="btn btn-lg btn-primary btn-block" >
            {% trans "Request an Invitation" %}
          </a>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}
