{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Not Found" %}{% endblock %}

{% block body %}
    <header class="jumbotron subhead" id="overview">
        <h1>{% trans "Privacy Policy" %}</h1>
    </header>

<h1>Family Office Statistics Website Privacy Policy</h1>
<h2>Introduction</h2>
<p>Family Office Statistics LLC (“FOS”) respects your privacy and is committed to protecting it through our compliance with this Website Privacy Policy (“Policy”).  This Policy describes the types of information we may collect from you or that you may provide when you visit the Family Office Statistics Website, available at http://www.familyofficestatistics.com/ (the “FOS Website” or “Website”) and our practices for collecting, using, maintaining, protecting and disclosing that information.
<p></p>This Policy applies to information we collect on or through the Website.  It does not apply to information collected by us offline or through any other means.  
</p>
<p>Please read this Policy carefully to understand our policies and practices regarding your information and how we will treat it.  If you do not agree with our policies and practices, you may choose not to use the FOS Website. By accessing or using the FOS Website, you agree to this Policy, which is incorporated into and forms a part of the Visitor Agreement governing your use of the Website. This Policy may change from time to time. Your continued use of the FOS Website after we make changes is deemed to be acceptance of those changes, so please check this Policy periodically for updates. 
<p></p>The FOS Website may contains link to other websites. FOS is not responsible for the privacy practices of such linked websites; you should review the privacy policies of any linked website that you may visit.</p>

<h2>Information We Collect About You and How We Collect It</h2>
<p>We may collect several types of information from and about users of the FOS Website, including:
</p>

<p>1.	Information That You Provide to Us.  This includes information that you provide you when complete forms on the FOS Website or when you register or login to use the FOS Website, which may include your email address  or Login Credentials.  It also includes information that you provide when you engage in actions or use services offered on the FOS Website, such as your answers to investment questionnaires. We limit the personally-identifiable information collected from you on the FOS Website to that information necessary for us to verify your Login Credentials and grant access to the FOS Website to authorized users. 
</p>
<p>2.	Information About Your Use of the Website That We Collect Through Automated Data Collection Technologies. As you navigate through and interact with the FOS Website, we may use automated data collection technologies to collect certain information about your equipment, browsing actions and patterns, including:
<br>&#149;		Details of your visits to our Website, such as pages viewed and the resources that you access and use on the Website and
</p>

<p>&#149;		Information about your Internet connection, the equipment you use to access our Website and usage details, including your IP address, computer operating system and browser type.
</p>
<p>The information we may collect automatically is statistical data and does not include personally identifiable information, but we may maintain it or associate it with personally identifiable information that you may provide to us.  Such information helps us to improve our Website and to deliver a better and more personalized service to you, including by enabling us to store information about your preferences and recognize you when you return to the Website.  
</p>
<p>The technologies we use for this automatic data collection may include cookies, which are small files placed on the hard drive of your computer. You may refuse to accept cookies, but in that case you may be unable to access certain parts of our Website. 
</p>
<h2>How We Use Your Information</h2>
<p>We may use information that we collect about you or that you provide to us via the FOS Website for any lawful purpose.  Generally, we use such information for purposes of presenting the FOS Website and its features and contents to you, improving the FOS Website, communicating with you, and responding to your inquiries and requests.  We may also use such information for other purposes, including but not limited to investigating violation of our Visitor Agreement. 
</p>
<p>FOS may use information provided in response to investment questionnaires in anonymized form (“Anonymized Investment Information”) to analyze investment patterns and provide comparative data to our users.  Anonymized Investment Information may be used alone, or in combination with Anonymized Investment Information from other users, other proprietary data, or publicly-available market data for statistical analysis and reporting to users.  In addition, FOS reserves the right to use, publish, license, distribute or sell Anonymized Investment Information, and information derived therefrom, in aggregate form, for any purpose, including business development or investment purposes. 
</p>
<p>FOS strives to maintain the highest level of confidentiality with respect to its members’ personally identifiable information. FOS does not sell or rent its members’ personally identifiable information.  
</p>
<h2>Disclosure of Your Information</h2>
<p>We may disclose aggregated information about our users, and information that does not identify any particular user, without restriction. 
</p>
<p>We may disclose personally identifiable information that we collect or you provide as described in this Policy:
</p>
<p>&#149;		To our parent companies, subsidiaries and affiliates, if any;</p>
<p>&#149;		To contractors, service providers and other third parties we use to support our business provided they have agreed to maintain such information in confidence.</p>
<p>&#149;		To a buyer or other successor in the event of a corporate transaction, dissolution or other sale or transfer of some or all of FOS’s assets, in which personally identifiable information held by FOS about our Website users or members is among the assets transferred;</p>
<p>&#149;		To fulfill the purpose for which you provide it, including, but not limited to, to verify qualifications for membership, to communicate with you, and to respond to your requests;</p>
<p>&#149;		For any other purpose disclosed by us when you provide the information;</p>
<p>&#149;		With your consent.</p>
<h3>We may also disclose your personally identifiable information:</h3>
<p>&#149;		To comply with any court order, law or legal process, including to respond to any government or regulatory request;
</p>
<p>&#149;		To enforce our Visitor Agreement;</p>
<p>&#149;		If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of FOS, our members or others.</p> 
<p>FOS will not intentionally disclose in any public manner the personally identifiable information or identities of its users or members, or disclose investment questionnaire responses in such a way that they are or can be associated with the user or member who provided those responses. 
</p>
<h2>Choices About How We Use and Disclose Your Information</h2>
<p>We strive to provide you with choices regarding the personally identifiable information you provide to us. Following are ways that you can control your information: 
</p>
<p>&#149;		Adjusting your browser settings or </p>
<p>&#149;		Opting out of receiving news and offerings from FOS by sending an opt-out request to FOS or following the instructions in our communications to Unsubscribe or Opt-out.</p>
<h2>Data Security</h2>
<p>The security of your information is important to us.  We have implemented measures designed to secure your personally identifiable information and other data from accidental loss and from unauthorized access, use or disclosure.  The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain portions of the FOS Website, you are responsible for keeping this password confidential. We ask you not to share your password with anyone, and be sure to close out of browser sessions in which you have accessed password-protected portions of the FOS Website. 
<p></p>Unfortunately, however, no technological protections are perfect, and the transmission of information via the Internet is not completely secure. Although we do our best to protect your personally identifiable and other information, we cannot guarantee the security of information that you may provide on our Website. Any transmission of personally identifiable information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Website.
</p>
<h2>Changes to Our Privacy Policy</h2>
<p>It is our practice to post any changes we make to our Policy on this page.  The date the Policy was last revised is identified at the bottom of this page. You are responsible for ensuring we have an up-to-date, active and deliverable e-mail address for you, and for periodically visiting this page to check for any changes.
</p>
<h2>Contact Information</h2>
<p>If you have questions about this Policy, or wish to review or change any personally identifiable information that you may have provided to us, please contact us at: 
</p>
<p>Family Office Statistics LLC
500 West Putnam Avenue, Suite 400
Greenwich, Connecticut 06830 / Ph: 203-570-2898</p> 

<p> Please note that we cannot delete your personally identifiable information from our records except by also deleting your user account (if applicable). Nor can we accommodate a request to change information if we believe the change would violate any legal requirement or cause the information to be incorrect.
</p>
<h4 style="padding-bottom:2rem;">Last Updated:  January 1, 2015
</h4>

{% endblock %}
