{% extends "site_base.html" %}

{% load account_tags %}
{% load i18n %}

{% load bootstrap %}

{% block head_title %}{% trans "Not Found" %}{% endblock %}

{% block body %}
<div class="col-sm-4 col-sm-offset-4">
    <h2>Get an invite code</h2>
    <p>We will reach out to you soon!</p>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <table>
    {{ form.as_p }}
    </table>
        
    

<button type="submit" class="btn btn-success btn-block">Request a code</button>
</form>
</div>
{% endblock %}
